<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="3"
    android:versionName="@string/current_version_code"
    package="net.zuijiao.android.zuijiao">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--umeng add -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--location-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <!-- umeng push -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />;

    <!--umeng feedback-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="com.zuijiao.controller.ActivityTask"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <service
            android:enabled="true"
            android:name="com.baidu.location.f"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4lE0F9aM8Q3o9bGREEk9eFHe" />

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:label="@string/main_page"
            android:launchMode="singleTask"
            android:name="net.zuijiao.android.zuijiao.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/bind_email"
            android:name="net.zuijiao.android.zuijiao.BindEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/favor_label"
            android:name="net.zuijiao.android.zuijiao.FavorPersonListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/image_chooser"
            android:name="net.zuijiao.android.zuijiao.ImageChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/current_location"
            android:name="net.zuijiao.android.zuijiao.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/setting"
            android:name="net.zuijiao.android.zuijiao.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/flavor_hobby"
            android:name="net.zuijiao.android.zuijiao.TasteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/mobile_phone"
            android:name="net.zuijiao.android.zuijiao.VerifyPhoneNumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/comment"
            android:name="net.zuijiao.android.zuijiao.GourmetCommentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:label=""
            android:name=".GourmetDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="zuijiao"
            android:name="net.zuijiao.android.zuijiao.BigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:label="@string/my_language"
            android:name="net.zuijiao.android.zuijiao.LanguagesChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label=""
            android:name="net.zuijiao.android.zuijiao.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="ssss"
            android:name="net.zuijiao.android.zuijiao.BanquetOrderDisplayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="net.zuijiao.android.zuijiao.BanquetCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="net.zuijiao.android.zuijiao.BanquetOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx908961ddfd5cade9" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.zuijiao.android.zuijiao.HostAndGuestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="net.zuijiao.android.zuijiao.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme" />
        <activity
            android:name="net.zuijiao.android.zuijiao.BanquetDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/detail"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/register"
            android:name="net.zuijiao.android.zuijiao.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:label="@string/msg_page"
            android:name="net.zuijiao.android.zuijiao.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/login"
            android:name="net.zuijiao.android.zuijiao.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.zuijiao.android.zuijiao.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/feed_back"
            android:name="net.zuijiao.android.zuijiao.CommonWebViewActivity"
            android:parentActivityName="net.zuijiao.android.zuijiao.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/friend"
            android:name="net.zuijiao.android.zuijiao.FriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/where_to_eat"
            android:name=".EditPositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/label"
            android:name="net.zuijiao.android.zuijiao.LabelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/edit_info"
            android:name="net.zuijiao.android.zuijiao.EditUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/recommend"
            android:name="net.zuijiao.android.zuijiao.RecommendAndFavorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/store_gourmet"
            android:name="net.zuijiao.android.zuijiao.EditGourmetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/image_chooser"
            android:name="net.zuijiao.android.zuijiao.MultiImageChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/concerning"
            android:name="net.zuijiao.android.zuijiao.ConcerningActivity"
            android:parentActivityName="net.zuijiao.android.zuijiao.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:exported="true"
            android:name="net.zuijiao.android.zuijiao.wxapi.WXEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="net.zuijiao.android.zuijiao.BanquetOrderCallbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="net.zuijiao.android.zuijiao.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <!--<activity-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:exported="true"-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity
            android:launchMode="singleTask"
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1103495820" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552354ddfd98c5ad6a000b73" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="XiaoMi" />

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="86de4d9fa765370b5467287441be9320"></meta-data>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!--  umeng push -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:process=":push"
            android:exported="false" />
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="net.zuijiao.android.zuijiao.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:label="PushService"
            android:exported="true"
            android:process=":push">

            <intent-filter>
                <action android:name="net.zuijiao.android.zuijiao.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.zuijiao.android.zuijiao.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:process=":push"
            android:exported="true">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <!-- V1.3.0 umeng push , download resource from notification -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <service android:name="net.zuijiao.android.zuijiao.UmengAgentPushService" />
        <!--umeng feedback-->
        <activity android:name="com.umeng.fb.ConversationActivity" />
    </application>

</manifest>
